---
---

@import "{{ site.theme }}";

.page-header {
  color: #000;
  background-color: #ffe64d;
  background-image: none;
}

.page-header img {
  width: 15rem;
}

@media screen and (min-width: 64em) {
  .page-header {
      padding: 3rem 6rem
  }
}

.project-name {
 font-family: 'Oleo Script', cursive;
 font-size: 3.5rem;
 margin-bottom: 1rem;
}

.btn {
  color: rgba(0,0,0,0.7);
  background-color: rgba(0,0,0,0.08);
  border-color: rgba(0,0,0,0.2);
}

.btn:hover {
    color: rgba(0,0,0,0.8);
    background-color: rgba(0,0,0,0.2);
    border-color: rgba(0,0,0,0.3)
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  font-family: 'Vollkorn', serif;
  color: #d06401;
}

.main-content img {
  margin: auto;
  width: 25rem;
}