---
---

@import "{{ site.theme }}";

.page-header {
  color: #000;
  background-color: #ffe64d;
  background-image: none;
}

h1 {
 font-family: 'Oleo Script', cursive;
}

h2 {
  font-family: 'Vollkorn', serif;
}

.btn {
  color: rgba(0,0,0,0.7);
  background-color: rgba(0,0,0,0.08);
  border-color: rgba(0,0,0,0.2);
}

.btn:hover {
    color: rgba(0,0,0,0.8);
    background-color: rgba(0,0,0,0.2);
    border-color: rgba(0,0,0,0.3)
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  color: #d06401;
}
