body {
    text-align: center;
    margin: auto;
    -webkit-font-smoothing: antialiased;
    display: block;
}

header {
    background-color: #ffe64d;
    width: 100%;
    font-size: 1.8rem;
    padding: 4rem 0;
}

footer {
    background-color: #ffe64d;
    width: 100%;
    padding: 2rem 0;
}

header img {
    width: 15rem;
}

.f-popup, .f-block, .f-break {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-top: 2rem;
}

.f-block, .f-break {
    padding-top: 4rem;
}

.f-break {
    padding-bottom: 2rem;
}

img {
    max-width: 100%;
    vertical-align: middle;
    max-width: 100%;
    height: auto; 
    width: auto; 
}

h1, h2, h3, p {
    text-rendering: optimizeLegibility;
}

h1 {
    margin: 0;
    font-family: 'Oleo Script', cursive;
}

p, ul {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

.cell {  
    text-align: left;
    width: calc(33.33333% - 1.875rem);
    margin-right: .9375rem;
    margin-left: .9375rem;
}

.intro {
    padding: 4rem 2rem;
}

.intro h2 {
    margin-top: 0;
}

.intro p {  
    text-align: center;
    margin-bottom: 0;
    width: 33.33333%;
    margin-left: auto;
    margin-right: auto;
}

.options {
    padding: 4rem;
}

.features {
    background-color: #f7f7f7;
    padding: 2rem;
}

.features h2 {
    margin-top: 0;
    margin-bottom: .5rem;
}

#domain-list {
    display: inline-block;
    justify-content: center;
    text-align: left;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style-type: none;
    padding-left: 12px;
}

.feedback {
    color: #11bd28;
    font-weight: bold;
    display: table;
}

h2 {
    font-family: 'Vollkorn', serif;
    font-size: 1.8rem;
}

#last {
    margin-bottom: 0;
}

h3 {
    font-family: 'Vollkorn', serif;
    font-size: 1.5rem;
    padding: 1rem;
    margin: 0;
}

a {
    color: #d06401;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #4d2422;
}

.hide-large {
    display: none;
}

@media (max-width: 820px) {

    header {
        font-size: 1.4rem;
    }
    header img {
        width: 10rem;
    }
    .intro {
        padding: 2rem;
    }
    .intro h2 {
        font-size: 1.5rem;
    }
    .cell, .intro p, #domain-list {
        display: block;
        width: 80%;  
    }

    .hide-small {
        display: none;
    }

    .cell img {
        margin-left: auto;
        margin-right: auto;
    }

    .intro, .features, .options {
        margin-right: auto;
        margin-left: auto;
    }
    .f-popup h2 {
        margin-top: .5rem;
        text-align: center;
    }

    .f-block h2 {
        margin-top: 2rem;
        text-align: center;
    }

    .f-break h2 {
        margin-top: 1.5rem;
        text-align: center;
    }
}

@media (max-width: 710px) {
    .cell, .intro h2, #domain-list {
        min-width: 506px;  
    }
}

@media (max-width: 576px) {
    .cell, .intro h2, .intro p, #domain-list {
        display: block;
        width: 100%;
        min-width: 0;
    }

    #domain-list {
        margin-left: auto;
        margin-right: auto;
    }

    .options {
        padding-left: 1.9375rem;
        padding-right: 1.9375rem;
    }

    .intro, .features {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .hide-small {
        display: none;
    }
}